.a1
{
	float:left;
	display: none;
}
.a2
{
	padding-left: 7px;
}	
.a3
{
	padding-top: 0px;
}	
.a4
{
	padding-top: 5px;
}
.a5
{
	padding-top: 10px;
}
.a6
{
	margin-bottom: 10px;
}
.a6
{
	padding-top: 0px;
}
