.veebipoed-payment-methods-list > li > .payment-method > img {
    padding: 20px 1px;
    border: 1px solid;
    border-radius: 3px;
    background-color: white;
}
.veebipoed-payment-methods-list > li > .payment-method:hover > img {
    padding: 19px 0;
    border: 2px solid;
    background-color: #eee;
}
.veebipoed-payment-methods-list > li {
    float: left;
    margin-right: 10px;
}
.veebipoed-payment-methods-list {
    margin-top: 10px;
}
.ajax_loader {
    background: transparent url('../img/ajax-loader.gif') no-repeat center center;
    background: rgba(230,230,230,0.3) url('../img/ajax-loader.gif') no-repeat center center !important;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.logo_size_m{
    width: 135px;
}
#module-makecommerce-confirmation .logo_size_m{
	margin-right: 15px;
}
.logo_size_s{
    width: 100px;
}
.hidden {
    display: none;
}
.flag_mk_select{
    width: 100%;
    overflow: hidden;
}
.flag_mk_select li{
    float: left;
    margin: 0 3px;
    opacity: 0.5;
}
.flag_mk_select li.selected{
    opacity: 1;
}
#mk_list p.payment_module a{
    padding: 33px 40px 34px 25px;
    background: #fbfbfb;
}
#mk_list p.payment_module a img{
    padding-right: 15px;
}
#mk_list .payment_module a span{
    text-transform: uppercase;
}
#mk_list a:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}
#mk_widget .payment_module li {
    float: left;
    margin: 5px 5px 0 0;
}
#mk_widget .payment_module{
    background: url(../img/logo.png) 25px 20px no-repeat #fbfbfb;
    display: block;
    border: 1px solid #d6d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 17px;
    line-height: 23px;
    color: #333;
    font-weight: bold;
    padding: 33px 45px 34px 99px;
    letter-spacing: -1px;
    position: relative;
    margin: 0 0 9px;
}
#mk_widget .payment_module a{
    color: #000;
    cursor: pointer;
}
#mk_widget .payment_method_list{
    display: none;
}
#mk_widget.expanded .payment_method_list{
    display: block;
    margin: 20px 0 0 -79px;
    overflow: hidden;
}
#mk_widget .icon-chevron-down{
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
    float: right;
    cursor: pointer;
}
#mk_widget.expanded .icon-chevron-down:before{
    content: "\f077";
}
.payment_method_list ul{
    overflow: hidden;
}
#module-makecommerce-cards p.cart_navigation{
    float: left;
}
